/* Write your CSS code here */
.about-img {
  height: 300px;
  width: 300px;
}
.home-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
